body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modal {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
}

.modal-box {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
}
